In [1]:
import pandas as pd

Importo un file json contenente le parole che mi interessa sezionare

In [123]:
words = pd.read_json('italian_words.json')

Creo due colonne; nella prima metto le prime due lettere della parola, nella seconda le prime tre

In [124]:
words['terzine'] = words[0].str[:3]

In [125]:
words['coppie'] = words[0].str[:2]

In [126]:
words.rename(columns={0:'word'}, inplace=True)

In [127]:
words

              word terzine coppie
0            abaca     aba     ab
1           abachi     aba     ab
2        abachista     aba     ab
3        abachiste     aba     ab
4        abachisti     aba     ab
...            ...     ...    ...
661558  zwinglismo     zwi     zw
661559  zwinglista     zwi     zw
661560  zwingliste     zwi     zw
661561  zwinglisti     zwi     zw
661562         zzz     zzz     zz

[661563 rows x 3 columns]

cambio l'indice del dataframe

In [128]:
words.set_index('word')

           terzine coppie
word
abaca          aba     ab
abachi         aba     ab
abachista      aba     ab
abachiste      aba     ab
abachisti      aba     ab
...            ...    ...
zwinglismo     zwi     zw
zwinglista     zwi     zw
zwingliste     zwi     zw
zwinglisti     zwi     zw
zzz            zzz     zz

[661563 rows x 2 columns]

Metto in una serie pandas tutte le terzine e le coppie generate poi tolgo i duplicati

In [142]:
combinations = words.coppie.append(words.terzine)

In [143]:
combinations.drop_duplicates(keep='first', inplace=True)

In [144]:
combinations

0          ab
4586       ac
12773      ad
16328      ae
16722      af
         ...
661446    zup
661493    zur
661539    zuz
661551    zwi
661562    zzz
Length: 2948, dtype: object

In [70]:
combinations.size

2948

In [145]:
combinations = pd.DataFrame(combinations, columns= ['letter_set'])

L'obiettivo è scartare le coppie e terzine che sono poco utilizzate nell'alfabeto. per ogni terzina/coppia conto in quante parole accade in modo da poterne scartare una parte

In [146]:
def search_letterset_in_words(x, columns_series):
  return columns_series.str.contains(x, regex = False).sum()

In [150]:
combinations['frequency'] = combinations['letter_set'].apply(search_letterset_in_words, args = (words['word'], ))

In [158]:
combinations[combinations['frequency'] > 80]['letter_set'].to_json('combinations.json', orient='records', lines=True)

# Nuova sezione